{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static "feed.css" %}" />
	<title>Bunk feed</title>
</head>

<body>

	<h1> Bunks </h1>

	{% if bunk_list %}
		<ul>
			{% for bunk in bunk_list %}
				<li>
					<div class="user">
						<img src="{% static bunk.from_user.photo %}"/>
						<h2>{{ bunk.from_user.user }}</h2>
					</div>
					<div class="bunked">
						<img src="{% static "arrow.png" %}"/>
						<h2> BUNKED </h2>
					</div>
					<div class="user">
						<img src="{% static bunk.to_user.photo %}"/>
						<h2>{{ bunk.to_user.user }}</h2>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No Bunks available</p>
	{% endif %}
</body>